body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-numbers {
    display: flex
}

.invalid-input-alert {
    color: red;
}

.number-item {
    padding: 0px 12px;
    border: 1px solid black
}

.current-number {
    border: 3px solid green;
}

.comparison-left-number {
    background: orange;
}

.comparison-right-number {
    background: red;
}